* {
  box-sizing: border-box;
}

:root {
  --dark-blue: #1f2937;
  --white: #f9faf8;
  --pale-white: #e5e7eb;
  --blue: #3882f6;
  --black: #1F2937;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}

.header {
  background: var(--dark-blue);
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 960px;
  align-items: center;
}

.logo {
  color: var(--white);
  font-size: 24px;
  font-weight: bold;
}

.header-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: var(--pale-white);
}

.hero {
  background: var(--dark-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55vh;
  color: var(--pale-white);
}

.hero-container {
  display: flex;
  width: 960px;
  gap: 20px;
}

.hero-container > * {
  flex: 1;
}

.hero-header {
  color: var(--white);
  font-weight: 900;
  font-size: 48px;
  margin: 0;
}

.hero p {
  margin: 0;
}

.sign-up-btn {
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  font-weight: bold;
  border: none;
  margin: 10px 0;
  padding: 8px 30px;
  border-radius: 6px;
}

.hero-image-placeholder {
  background: rgba(229, 231, 235, 40%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.info {
  background: var(--white);
  text-align: center;
  color: rgb(93, 93, 93);
  min-height: 55vh;
}

.info-header {
  color: var(--black);
  font-size: 36px;
  font-weight: 900;
  margin: 50px 0;
}

.images {
  display: flex;
  justify-content: center;
  gap: 45px;
}

figure {
  width: 170px;
  margin: 0;
}

figcaption {
  margin: 10px 0;
}

.info-image {
  border: 3px solid var(--blue);
  border-radius: 15px;
  height: 170px;
}

.quote {
  background-color: var(--pale-white);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.quote blockquote {
  width: 790px;
  margin: 0;
}

.quote p {
  font-weight: 300;
  font-style: italic;
  font-size: 36px;
  margin: 0;
}

.quote footer {
  text-align: right;
  font-weight: bold;
  font-size: 22px;
  margin-right: 40px;
}